#four{
    background-color: darkturquoise;

}
#five{
    background-color: pink;
}
#six{
    background-image: url("images/car.jpeg");
    text-align: center;
    background-color: hotpink;
}


















